/* TODO: make short and smooth animation for radio and submit */

input[type="radio"] {
    margin-left: 11px;
}

.radio {
    display: none;
    /* opacity: 0;
    transition: all 0.3s; */
}

.revealed {
    display: inline-block;
    /* opacity: 1; */
}

/* #submit {
    position: relative;
    transition: all 0.3s;
} */

.disabled {
    pointer-events: none;
}

.alert {
    animation: slide-up 0.4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

tr td{
    border-bottom: 1px solid #E95420;
}
